.wrapper {
  width: 70%
  margin: 0 auto;
}

h1 {
  margin-top: 0;

}


.main-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
}
